html, body {
  touch-action: manipulation;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;   /* ВОТ ЭТО ГЛАВНОЕ */
}

* {
  touch-action: manipulation;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.modal {
}

.modal.show {
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial;
  background: #f2f2f2;
}

#app {
  text-align: center;
}

#cat {
  font-size: 320px;
  padding: 20px 30px;
  border-radius: 20px;
}

.main-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
button, input {
  z-index: 1000;
  position: relative;
}

#score {
  font-size: 96px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* МОДАЛЬНЫЕ ОКНА */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: none;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.modal.show {
  display: flex;
}

* {
  outline: 1px solid red;
}
