.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
}