body {
  margin: 0;
  font-family: Arial;
  background: #5a30e6;
  color: white;
  text-align: center;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#score {
  font-size: 36px;
}

#cat {
  font-size: 120px;
  border-radius: 1000px;
  border: none;
  padding: 20px;
}

button {
  font-size: 18px;
  padding: 12px;
  border-radius: 12px;
  border: none;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  z-index: 100;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-box {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 14px;
  width: 80%;
  max-width: 300px;
}

.shop-item {
  background: #eee;
  margin: 6px;
  padding: 10px;
  border-radius: 10px;
}

.shop-item.locked {
  background: #333;
  color: #777;
}

#itemCountBox {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}