body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f6f6f6;
  margin: 0;
  padding-top: 40px;
  touch-action: manipulation;
}

h1 { font-size: 42px; }
p { font-size: 24px; }

#cat {
  font-size: 80px;
  padding: 40px 60px;
  border-radius: 20px;
  border: none;
  background: #ffccdd;
  cursor: pointer;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
}

/* ВЫЕЗЖАЮЩИЙ МАГАЗИН */
#shop {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 70%;
  background: white;
  border-radius: 25px 25px 0 0;
  box-shadow: 0 -5px 20px rgba(0,0,0,0.3);
  transition: 0.3s;
  padding-top: 20px;
  z-index: 999;
}

#shop.show {
  bottom: 0;
}
