body {

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  height: 100vh;

  margin: 0;

  background: #4000FF;

  color: white;

  font-family: sans-serif;

}

#b1 {

  font-size: 55px;

  padding: 50px 50px;

  border-radius: 50px;

  border: none;

  cursor: pointer;

  transition: transform 0.1s;

}
