html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial;
  background: #f5f5f5;
  user-select: none;
  touch-action: manipulation;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score {
  font-size: 72px;
  margin-bottom: 20px;
  font-weight: bold;
}

#cat {
  font-size: 280px;
  cursor: pointer;
  transition: transform 0.1s;
}

#cat.active {
  transform: scale(0.9);
}

button {
  font-size: 22px;
  padding: 10px 18px;
  margin: 6px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

/* МОДАЛКА */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  max-height: 90vh;
  overflow-y: auto;
}