body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #5a30e6;
  color: white;
}

#score {
  font-size: 40px;
  margin-bottom: 20px;
}

#b1 {
  font-size: 60px;
  padding: 20px;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
  transition: 0.1s;
}

#plus {
  position: absolute;
  top: 20%;
  font-size: 30px;
  opacity: 0;
  transition: 0.2s;
}